*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Google Services
google-services.json

# Keystore files
*.jks
*.keystore
*.p12
*.pem

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Bundle artifacts
*.ap_
*.ap_
*.aab
