# Android / Gradle
.gradle/
build/
app/build/

# Release builds
app/release/
*.apk
*.aab

# Local configuration
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore
*.p12
*.pem

# Google Services
google-services.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
